<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="air_manEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.106.88.209;initial catalog=air_man;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OpenApiSoap" />
        <binding name="PlyIntefaceServiceSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="JinRiRateServerSoap" />
        <binding name="GetPolicyServiceImpl_1_0ServiceSoapBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PlyIntefaceServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="JinRiRateServerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://api.banglv.cn/OpenApi.asmx " binding="basicHttpBinding" bindingConfiguration="OpenApiSoap" contract="ServiceReference1.OpenApiSoap" name="OpenApiSoap" />
      <endpoint address="http://demo2.8000yi.com:8002/WebInterface/PlyIntefaceService.asmx" binding="basicHttpBinding" bindingConfiguration="PlyIntefaceServiceSoap" contract="ServiceReference2.PlyIntefaceServiceSoap" name="PlyIntefaceServiceSoap" />
      <endpoint address="http://ws.jinri.cn/JinRiRateServer.asmx" binding="basicHttpBinding" bindingConfiguration="JinRiRateServerSoap" contract="ServiceReference3.JinRiRateServerSoap" name="JinRiRateServerSoap" />
      <endpoint address="http://wstest.51book.com:55779/ltips/services/getPolicyService1.0" binding="basicHttpBinding" bindingConfiguration="GetPolicyServiceImpl_1_0ServiceSoapBinding" contract="ServiceReference4.GetPolicyService_1_0" name="GetPolicyServiceImpl_1_0Port" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="Platform" value="8000yi,八千亿;51book,联拓天际;jinri,今日天下通;380,380出票网" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>