<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConStr-bak" value="server=113.106.88.209;database=air_man;uid=sa;pwd=410211"/>
    <add key="ConStr" value="server=127.0.0.1;database=aircrm;uid=sa;pwd=vc++net2003"/>
  </appSettings>
</configuration>