<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--<add key="ConnectionString" value="server=127.0.0.1;database=demo;uid=sa;pwd=vc++net2003"/>-->
    <add key="ConnectionString" value="server=113.106.88.209;database=air_man;uid=sa;pwd=410211"/>
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <add key="ConnectionStringAccounts" value="server=127.0.0.1;database=demo;uid=sa;pwd=vc++net2003"/>
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=demo;uid=sa;pwd=vc++net2003"/>
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Sanben.SQLServerDAL"/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value=""/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--管理员所属部门名称-->
    <add key="AdManager" value="管理部"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!--机票政策来源，类型，平台-->
    <add key="PolicySources" value="8000yi,八千亿;517Na,517;jinri,今日天下通;self,自有政策"/>
    <add key="PolicyType" value="LOWPRICE,特价政策;COMMON,普通单程政策;PREPAY,预付政策;APPLY,K位政策;
         ROUNDCOMMON,往返普通政策;ROUNDSPECIAL,往返特价政策;ROUNDPREPAY,往返预付政策;
         CUSTOMER,团队政策;SINGLEALL,单程所有;ROUNDALL,往返所有"/>
    <add key="Platform" value="qunaerTTS,去哪儿往返;qunaerTH,去哪儿单程;ctrip,携程"/>
    <!--全量与增量执行时间间隔，以分钟为单位-->
    <add key="AllTime" value="30"/>
    <add key="AddTime" value="10"/>
    <add key="XmlPath" value="\xml\common.xml"/>
    <add key="TtsUrl"  value="tts/interface/policy.jsp"/>
  </appSettings>
</configuration>